@font-face {
}

html {
    line-height: 1.15;
}

* {
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    margin: 0px;
    font-family: "Gill Sans";
    position: relative;
    background: rgb(228, 228, 228);
}

.showSlider {
    display: none;
}

.showSlider img {
    width: 80%;
}

.container {
    max-width: 400px;
    position: relative;
    margin: auto;
}

.left, .right {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    color: black;
    font-weight: bold;
    font-size: 45px;
    transition: all 0.6s ease 0s;
    border-radius: 0px 3px 3px 0px;
}

.right {
    right: 0px;
    border-radius: 3px 0px 0px 3px;
}

.left:hover, .right:hover {
    background-color: rgb(255, 152, 0);
}
#moi {
    flex-basis: 40%;
        background:linear-gradient(315deg, rgb(159, 157, 148) 0%, rgba(220, 220, 220, 0.8) 74%);

    padding: 30px 15px;
}



.contentBook {
    color: rgb(239, 245, 212);
    font-size: 30px;
    padding: 8px 12px;
    position: absolute;
    top: 10px;
    width: 100%;
    text-align: center;
}

.active {
    background-color: rgb(255, 152, 0);
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    0% {
        opacity: 0.4;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fade {
    0% {
        opacity: 0.4;
    }

    100% {
        opacity: 1;
    }
}

figure {
    max-width: 10000px;
    display: block;
    margin: 0px auto;
    justify-content: center;
}

.content {
    max-width: 1000px;
    display: block;
    margin: 0px auto;
    justify-content: center;
}

p {
    font-size: 38px;
    justify-content: center;
    text-align: center;
}

.personel {
    font-size: 18px;
    justify-content: center;
    text-align: center;
}
#PRÉSENTATION-BTS {
    flex-basis: 40%;
    background-image: linear-gradient(315deg, rgb(159, 157, 148) 0%, rgba(220, 220, 220, 0.8) 74%);
    background-color: rgb(255, 255, 255);
    padding: 30px 15px;
}

.BTS {
    color: rgb(215, 142, 16);
    font-size: 30px;
    justify-content: center;
    margin: 100px 0px 10px;
}


.bold {
    font-weight: 700;
}

.orange {
    color: rgb(215, 142, 16);
}

h2 {
    font-size: 70px;
    color: rgb(159, 157, 148);
    font-weight: 700;
    margin: 5px 0px 10px;
}

h3 {
    font-size: 40px;
    color: rgb(159, 157, 148);
    font-weight: 700;
    margin: 5px 0px 10px;
}
h4 {
    font-size: 40px;
    color: rgb(217, 181, 20);
    font-weight: 700;
    margin: 5px 0px 10px;
}


.cv {
    background-color: rgb(215, 142, 16);
    border: none;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 21px;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    border-radius: 0rem;
}

.center {
    text-align: center;
}

.site-header {
    z-index: 10;
    font-family: "Gill Sans";
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    position: sticky;
    top: 0px;
    background-color: black;
}

@media screen and (min-width: 1250px) {
    .site-header {
        -webkit-box-pack: justify;
        justify-content: space-between;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        flex-direction: row;
    }
}

.site-header .nav-logo {
    align-self: flex-start;
    padding: 10px 5px 5px;
}

.site-header .nav-logo a img {
    max-width: 20px;
    height: auto;
}

@media screen and (min-width: 768px) {
    .site-header .nav-logo a img {
        max-width: 75px;
        height: auto;
    }
}

.site-header .nav-links {
    display: none;
    width: 100%;
    background-color: rgb(222, 240, 255);
}

@media screen and (min-width: 1250px) {
    .site-header .nav-links {
        display: block;
        background-color: black;
    }
}

.site-header .nav-links ul {
    padding: 0px;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: end;
    justify-content: flex-end;
}

@media screen and (min-width: 1250px) {
    .site-header .nav-links ul {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        flex-direction: row;
    }
}

.site-header .nav-links ul li {
    list-style: none;
}

.site-header .nav-links ul li a {
    font-size: 18px;
    text-transform: uppercase;
    color: rgb(255, 171, 0);
    letter-spacing: 1.2px;
    padding: 10px 15px;
    text-decoration: none;
    display: block;
}

.site-header .nav-links ul li:hover {
    background-color: rgb(239, 224, 255);
}

.site-header button {
    cursor: pointer;
    background: transparent;
    border: none;
    max-width: 50px;
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
}

@media screen and (min-width: 768px) {
    .site-header button {
        top: 20px;
    }
}

@media screen and (min-width: 1250px) {
    .site-header button {
        display: none;
    }
}

.nav-links.active {
    display: block;
}

.banner {
    padding: 90px 15px;
    background-color: rgb(159, 157, 148);
    background-image: linear-gradient(147deg, rgb(255, 152, 0) 0%, rgb(0, 0, 0) 94%);
    text-align: center;
    color: rgb(255, 255, 255);
}

.banner .banner--content {
    max-width: 1400px;
    height: auto;
    display: block;
    margin: 0px auto;
    background-repeat: no-repeat;
    background-position: right top;
    background-size: contain;
}

.banner .banner--content .name {
    text-transform: uppercase;
}

.banner .banner--content .designation {
    color: rgba(255, 255, 255, 0.7);
    text-transform: uppercase;
    font-family: "Gill Sans";
    font-weight: 700;
    font-size: 36px;
    margin: 0px;
}

@media screen and (min-width: 768px) {
    .banner .banner--content .designation {
        font-size: 120px;
    }
}

.banner .banner--content .tagline {
    font-size: 18px;
}

@media screen and (min-width: 768px) {
    .banner .banner--content .tagline {
        font-size: 26px;
    }
}

.promo {
    background-color: rgb(159, 157, 148);
}

.promo .content h2 {
    font-size: 36px;
    font-weight: 300;
    color: rgb(215, 142, 16);
    text-shadow: rgb(253, 253, 253) 0px 5px 2px;
}

@media screen and (min-width: 768px) {
    .promo .content h2 {
        font-size: 70px;
    }
}

.promo .content h2 span.orange {
    font-weight: 70;
}

.promo .content p {
    font-size: 22px;
}

@media screen and (min-width: 768px) {
    .promo .content p {
        font-size: 36px;
    }
}

#about .content h2 {
    text-align: center;
}

#about .about-container {
    display: block;
}

@media screen and (min-width: 768px) {
    #about .about-container {
        display: flex;
        -webkit-box-pack: justify;
        justify-content: space-between;
    }
}

#about .about-container-left {
    flex-basis: 40%;
    background: rgb(255, 152, 0);
    padding: 30px 15px;
}

#about .about-container-left li {
    font-style: italic;
    line-height: 1.9;
}

#about .about-container-right {
    flex-basis: 60%;
    background: rgb(242, 243, 248);
    display: flex;
    flex-wrap: wrap;
}

#about .about-container-right img {
    max-width: 100%;
    align-self: flex-start;
}

@media screen and (min-width: 1200px) {
    #about .about-container-right img {
        align-self: stretch;
    }
}

#compétences {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 171, 0);
    background-image: linear-gradient(315deg, rgb(255, 171, 0) 0%, rgb(215, 142, 16) 74%);
    height: 80vh;
}

#Stage {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    background-image: linear-gradient(315deg, rgb(159, 157, 148) 0%, rgba(220, 220, 220, 0.8) 74%);
    height: 80vh;
}

#service .service--content {
    -webkit-box-pack: justify;
    justify-content: space-between;
    display: block;
}

#service .service--content .item {
    flex-basis: 32%;
    text-align: center;
    border: 1px solid rgb(233, 235, 236);
    padding: 20px 10px 40px;
    transition: background-color 0.8s ease-in 0s;
    margin-bottom: 0px;
}

#service .service--content .item h3 {
    text-transform: uppercase;
    font-weight: 700;
}

#service .service--content .item img {
    max-width: 80%;
    display: block;
    margin: 0px auto;
}

#service .service--content .item p {
    font-style: italic;
    display: block;
    margin-bottom: 30px;
    text-shadow: rgb(255, 255, 255) 0px 1px 2px;
}

#service .service--content .item a {
    border: 1px solid rgb(255, 171, 0);
    border-radius: 4px;
    padding: 10px 30px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1.3px;
    transition: all 0.8s ease-in-out 0s;
    background-color: rgb(255, 171, 0);
    background-image: linear-gradient(315deg, rgba(70, 52, 52, 0) 0%, rgb(255, 171, 0) 74%);
}

#service .service--content .item a:hover {
    background-color: rgb(215, 142, 16);
    background-image: linear-gradient(315deg, rgb(54, 36, 36) 0%, rgb(255, 171, 0) 74%);
    border: rgb(0, 0, 0);
}

#service .item:hover {
    background-color: rgb(222, 240, 255);
}

#portfolio {
    z-index: 1;
    background-color: rgb(0, 0, 0);
}

#portfolio h2 {
    color: rgb(255, 255, 255);
    display: block;
    margin-bottom: 0px;
    block-size: 150px;
}

#portfolio .portfolio--content {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    flex-wrap: wrap;
}

#portfolio .portfolio--content .item {
    flex-basis: 50%;
    position: relative;
    background-color: rgb(0, 0, 0);
    transition: all 0.8s ease-in-out 0s;
}

#portfolio .portfolio--content .item h3 {
    color: rgb(255, 255, 255);
    font-weight: 700;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all 0.8s ease-in-out 0s;
}

#portfolio .portfolio--content .item img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
}

#portfolio .portfolio--content .item:hover > h3 {
    opacity: 1;
}

#portfolio .portfolio--content .item:hover > img {
    opacity: 0.3;
}

#GitHub h2 {
    max-width: 1200px;
    display: block;
    margin: 0px auto 50px;
}

#GitHub .GitHub--content {
    -webkit-box-pack: justify;
    justify-content: space-between;
    flex-wrap: wrap;
    -webkit-box-align: center;
    align-items: center;
    display: flex;
}

blockquote {
    margin: 0px;
}

blockquote p {
    padding: 15px;
    background: rgb(0, 0, 0);
    border-radius: 5px;
}

blockquote p::before {
    content: "“";
}

blockquote p::after {
    content: "”";
}

#pricing {
    background-color: rgba(222, 240, 255, 0.216);
}

#pricing .pricing--content {
    max-width: 1600px;
    margin: 0px auto;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

#pricing .pricing--content .item {
    flex-basis: 32%;
    border: 1px solid rgb(132, 132, 132);
    border-radius: 3px;
    padding: 20px 10px 30px;
    margin-bottom: 0px;
}

#pricing .pricing--content .item .price {
    font-size: 36px;
    color: rgb(203, 32, 39);
    font-weight: 700;
}

#pricing .pricing--content .item img {
    max-width: 200px;
    height: auto;
    display: block;
    margin: 0px auto;
}

#pricing .pricing--content .item .description {
    font-style: italic;
    min-height: 60px;
    display: block;
    margin: 20px 0px;
}

#pricing .pricing--content .item a {
    padding: 10px 20px;
    font-weight: 700;
    text-transform: uppercase;
    border: 1px solid rgb(255, 255, 255);
    text-decoration: none;
    color: rgb(255, 255, 255);
    background: rgb(255, 255, 255);
}

#contact address {
    width: 90%;
    margin: 0px auto;
}

#contact address {
    margin-top: 60px;
}

#contact address a {
    text-decoration: none;
}

.site-footer {
    background-color: rgb(255, 152, 0);
    padding: 90px 15px 30px;
    block-size: 600px;
    writing-mode: horizontal-tb;
}

.site-footer--content {
    max-width: 1600px;
    margin: 0px auto;
    color: rgb(255, 255, 255);
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
}

.footer-left {
    flex-basis: 55%;
}

.footer-left p {
    font-size: 16px;
    line-height: 1.6;
    color: rgb(224, 224, 224);
}

.footer-right {
    flex-basis: 40%;
    text-align: right;
}

.site-footer--content a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.copyright-notice {
    padding-top: 20px;
    text-align: center;
    color: rgb(122, 122, 122);
    border-top: 1px solid rgba(255, 255, 255, 0.05);
}

.social-share {
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    position: fixed;
    top: 50vh;
    left: 0px;
    transform: translateY(-50%);
    display: flex;
}

.social-share a {
    width: 500px;
    height: 500px;
    background-color: rgb(222, 240, 255);
    border: 1px solid rgb(255, 171, 0);
    transition: background-color 0.8s ease-in 0s;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
}

.social-share a img {
    width: 300px;
    height: auto;
    align-self: center;
}

.social-share a:hover {
    background-color: rgb(255, 171, 0);
}

.item {
    width: 1200px;
    height: 240px;
}

.item .r {
    position: absolute;
}

a[href^="mailto"]::before {
    content: "📧 ";
}

a[href^="tel"]::before {
    content: "📞 ";
}

.fefe {
    max-width: 100%;
    height: auto;
}

.imagev {
    max-width: 100%;
    height: auto;
    justify-content: center;
}

body {
    background-color: rgb(0, 0, 0);
}

.sectionp {
    background-color: rgb(255, 210, 0);
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: rgb(136, 136, 136) 0px 0px 10px;
}

.yellow-blockp1 {
    background-color: rgb(255, 210, 0);
    height: 200px;
    margin-bottom: 20px;
}

.yellow-blockp2 {
    background-color: rgb(255, 210, 0);
    height: 200px;
    margin-bottom: 300px;
}

.yellow-blockp3 {
    background-color: rgb(255, 210, 0);
    height: 200px;
    margin-bottom: 300px;
}

.sectionp {
    display: flex;
    justify-content: center;
    align-items: center;
}

.MCD {
    display: block;
    width: 120%;
    margin: auto;
}

.arbrepersonel {
    display: block;
    width: 100%;
    margin: auto;
}

